@font-face {
	font-family: 'iconfont';
	src:url('fonts/iconfont.eot?-y1spy');
	src:url('fonts/iconfont.eot?#iefix-y1spy') format('embedded-opentype'),
		url('fonts/iconfont.ttf?-y1spy') format('truetype'),
		url('fonts/iconfont.woff?-y1spy') format('woff'),
		url('fonts/iconfont.svg?-y1spy#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-experience:before {
	content: "\e600";
}
.icon-profile:before {
	content: "\e601";
}
.icon-download:before {
	content: "\e602";
}
.icon-error:before {
	content: "\e603";
}
.icon-settings:before {
	content: "\e606";
}
.icon-play-circle-outline:before {
	content: "\e60b";
}
.icon-phone:before {
	content: "\e604";
}
.icon-email:before {
	content: "\e605";
}
.icon-location-on:before {
	content: "\e607";
}
.icon-file:before {
	content: "\e608";
}
.icon-folder:before {
	content: "\e609";
}
.icon-arrow-back:before {
	content: "\e60a";
}
.icon-check:before {
	content: "\e60c";
}
.icon-close:before {
	content: "\e60d";
}
.icon-dnd-forwardslash:before {
	content: "\e60e";
}
.icon-portfolio:before {
	content: "\e9ae";
}
.icon-code:before {
	content: "\ea80";
}
.icon-in:before {
	content: "\eac8";
}
