@import 'lesshat.less';

// Generic styling
body {
  //background: #DDD;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 28px;
  margin: 0;
}
h2 {
  font-size: 17px;
  font-weight: normal;
  color: #333;
}
p {
  line-height: 18px;
}
a {
  text-decoration: none;
  color: #069;
}

// Mixins
.clearFix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@prim-dark: #455A64;
@prim: #607D8B;
@prim-light: #CFD8DC;
@secondary: #727272;
@divider: #B6B6B6;
@accent: #FF5722;
@text: #212121;
@text-light: #FFF;

@import 'forms.less';
@import 'cv.less';
@import 'login.less';
@import 'components/layout.less';
@import 'components/page_menu.less';

