@import 'lesshat.less';

@prim-dark: #455A64;
@prim: #607D8B;
@prim-light: #CFD8DC;
@secondary: #727272;
@divider: #B6B6B6;
@accent: #FF5722;
@text: #212121;
@text-light: #FFF;

// Generic styling
body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 20px;
  font-weight: normal;
  color: #333;
}
p {
  line-height: 18px;
}
a {
  text-decoration: none;
  color: #069;
}

button {
  background: @accent;
  border: 0;
  padding: 8px 16px;
  color: @text-light;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  .transition(background 0.5s);
  .border-radius(2px);
  cursor: pointer;

  &:hover {
    .background-image(linear-gradient(to bottom, @accent 0%, darken(@accent, 10) 100%));
  }
}

// Mixins
.clearFix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@import 'forms.less';
@import 'highlightjs.less';

@import 'views/cv.less';
@import 'views/login.less';
@import 'views/code.less';
@import 'views/error.less';
@import 'views/tests.less';
@import 'views/test_coverage.less';

@import 'components/app.less';
@import 'components/page_menu.less';
@import 'components/file_tree.less';
@import 'components/breadcrumb.less';

